doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Chat Application
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet" href="/css/theme.min.css")
        script(src="/socket.io/socket.io.js")
        script(type="module", src="/js/socket-client.js")
        script(type="module", src="/js/chat.js")
        link(rel="stylesheet" href="/css/chat.css")
        
    body.bg-light
        .container-fluid.p-0
            .row.g-0
                //- Sidebar Navigation
                .col-auto.bg-white.border-end.vh-100.d-flex.flex-column(style="width: 70px;")
                    .nav.flex-column.flex-grow-1.justify-content-start.align-items-center.py-3.gap-3
                        a.button.btn.rounded-circle.nav-btn#profileBtn(title="Profile" href="/protected_page" )
                            i.fas.fa-user
                        button.btn.rounded-circle.nav-btn#globalBtn(title="Global Chat" data-chat-type="global")
                            i.fas.fa-globe
                        button.btn.rounded-circle.nav-btn#groupBtn(title="Group Chats" data-chat-type="group")
                            i.fas.fa-users
                        button.btn.rounded-circle.nav-btn#dmBtn(title="Direct Messages" data-chat-type="dm")
                            i.fas.fa-comments
                        button.btn.rounded-circle.nav-btn#settingsBtn(title="Settings" data-chat-type="settings")
                            i.fas.fa-cog
                    .nav.justify-content-center.py-3
                        a.btn.rounded-circle.nav-btn#logoutBtn(href="/logout" title="Logout")
                            i.fas.fa-sign-out-alt

                //- Contacts Section (DMs)
                .col-auto.bg-white.border-end.vh-100.d-none#dmContacts(style="width: 280px;")
                    .d-flex.flex-column.h-100
                        .p-3.border-bottom
                            h5.mb-3 Direct Messages
                            .position-relative
                                i.fas.fa-search.search-icon
                                input.form-control.search-input#dmSearch(type="text" placeholder="Search users...")
                        .contact-list.pt-2#dmList
 

                //- Contacts Section (Groups)
                .col-auto.bg-white.border-end.vh-100.d-none#groupContacts(style="width: 280px;")
                    .d-flex.flex-column.h-100
                        .p-3.border-bottom
                            .d-flex.justify-content-between.align-items-center
                                h5.mb-3 Group Chats
                                button.btn.btn-sm.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#groupModal")
                                    i.fas.fa-plus
                            .position-relative
                                i.fas.fa-search.search-icon
                                input.form-control.search-input#groupSearch(type="text" placeholder="Search groups...")
                        .contact-list.pt-2#groupList
                
                //- Users List
                .col-auto.bg-white.border-end.vh-100#usersList(style="width: 280px;")
                    .d-flex.flex-column.h-100
                        .p-3.border-bottom
                            h5.mb-3 Online Users
                            .position-relative
                                i.fas.fa-search.search-icon
                                input.form-control.search-input#userSearch(type="text" placeholder="Search users...")
                        .contact-list.pt-2#globalUsersList

                //- Main Chat Section
                .col.bg-white
                    //- Chat Header
                    .border-bottom.p-3.bg-white
                        .d-flex.justify-content-between.align-items-center
                            h5#currentChat.mb-0 Global Chat

                    //- Chat Messages Area
                    .chat-messages.p-3.bg-light
                        #globalChat.chat-type.active
                            //- Messages will be loaded here
                        #dmChat.chat-type.d-none 
                        
                        #groupChat.chat-type.d-none


                    //- Chat Input Area
                    .border-top.p-3.bg-white
                        .input-group
                            input.form-control#messageInput(type="text" placeholder="Type a message...")
                            button.btn.btn-primary#sendButton(type="submit" style="background-color: #6D54B8; border-color: #6D54B8;")
                                i.fas.fa-paper-plane.me-1
                                | Send

        //- Modal for creating a group
        div.modal#groupModal(tabindex="-1" aria-labelledby="groupModalLabel" aria-hidden="true")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        h5.modal-title#groupModalLabel Create/Join Group Chat
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    div.modal-body
                        form#groupForm
                            div.mb-3
                                label.form-label(for="groupAction") Action
                                select#groupAction.form-control(name="action")
                                    option(value="create") Create New Group
                                    option(value="join") Join Existing Group
                            div.mb-3
                                label.form-label(for="groupName") Group Name
                                input#groupName.form-control(
                                    type="text" 
                                    name="groupName"
                                    placeholder="Enter group name" 
                                    required
                                )
                            div.mb-3.create-only
                                div.form-check.mb-2
                                    input#makePrivate.form-check-input(
                                        type="checkbox"
                                        name="makePrivate"
                                    )
                                    label.form-check-label(for="makePrivate") Make this a private group
                            div.mb-3.password-field.d-none
                                label.form-label(for="groupPassword") Password
                                input#groupPassword.form-control(
                                    type="password" 
                                    name="groupPassword"
                                    placeholder="Enter password"
                                )
                                small.form-text.text-muted.join-password-hint.d-none Leave empty for public groups
                            div.modal-footer
                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                                button#saveGroupButton.btn.btn-primary(type="submit") Create/Join Group

        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js")